<!DOCTYPE html>
<html lang="en">
<head>
    <title>Let's get to nodejs</title>
    <link rel="stylesheet" href="/app.css" type="text/css">
</head>
<body>
    <div class="friends"><p class="welcome">Welcome Friends</p></div>
    
