<%- include ('partials/header') %>
<div class="friends"><p class="welcome">Welcome Friends</p></div>
<% friends.forEach(friend => { %>
    <% let {id} = friend %>
    <li class="listItem"><%= friend.name %><a href="/deleteFriend/<%= id %>">X</a></li>
<% }) %>

<form action="/addFriend" method="POST">
    <input name="name" placeholder="Enter Friends name"/>
    <button>Add Friend</button>
</form>

<%- include ('partials/footer') %>