<%- include ('partials/header') %>
<% friends.forEach(friend => { %>
    <li class="listItem"><%= friend.name %></li>
<% }) %>

<form action="/addFriend" method="POST">
    <input name="name" placeholder="Enter Friends name"/>
    <button>Add Friend</button>
</form>

<%- include ('partials/footer') %>